<!DOCTYPE html>
<html>
  <head>
	<% include ../partials/header.ejs %>
	<title>clckr</title>
  </head>
  <body>
	<% include ../partials/nav.ejs %>
	<h1 class="header">Question: <%= q %><br><br>(732) 253-4352</h1>

	<br><br><br>

	<div class="col-md-3"><strong><p>A</p></strong><p><%= a %></p></div>
	<div class="col-md-3"><strong><p>B</p></strong><p><%= b %></p></div>
	<div class="col-md-3"><strong><p>C</p></strong><p><%= c %></p></div>
	<div class="col-md-3"><strong><p>D</p></strong><p><%= d %></p></div>

	<style>

		.chart rect {
		  fill: steelblue;
		}

		.chart text {
		  fill: white;
		  font: 10px sans-serif;
		  text-anchor: end;
		}

		.chart div {
		  font: 10px sans-serif;
		  background-color: steelblue;
		  text-align: right;
		  padding: 3px;
		  margin: 1px;
		  color: white;
		}

	</style>

	<br><br><br><br><br><br><br><br>
	<div><p><canvas id="chart"></canvas></p></div>

	<script>
		// char js is better
		var answers = [0,0,0,0];
		var ctx = document.getElementById("chart");
		var barData = {
		    labels: ['A', 'B', 'C', 'D'],
		    datasets: [
		        {
		            label: '2010 customers #',
		            fillColor: '#382765',
		            data: answers
		        }
		    ]
		};
		var context = document.getElementById('chart').getContext('2d');
		var clientsChart = new Chart(context).Bar(barData);

		// socket stuff
		var socket = io.connect('http://localhost');
		socket.on('news', function (data) {
			answers[data.hello]++;
			console.log(data);
			console.log(answers);

			// update d3 js
			barData = {
			    labels: ['A', 'B', 'C', 'D'],
			    datasets: [
			        {
			            label: '2010 customers #',
			            fillColor: '#382765',
			            data: answers
			        }
			    ]
			};
			context = document.getElementById('chart').getContext('2d');
			clientsChart = new Chart(context).Bar(barData);
		});
	</script>

  </body>
</html>
